src/main/mule/azuredemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bdfaa39e-66c2-45ba-9438-da079a9df070" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="azuredemoFlow" doc:id="beb852b4-bfa7-4b95-9a9f-66e62fdaa509" >
		<http:listener doc:name="Listener" doc:id="318b95d0-f0b6-4130-9830-ea40d15f84f7" config-ref="HTTP_Listener_config" path="/path1"/>
		<set-payload value="#['1st Message from application']" doc:name="Set Payload" doc:id="ae7c4b02-1a51-470e-9a6b-05e3b4230fc4" />
	</flow>
</mule>
